.equipment{
	&__title{
		margin-top: 40px;
		color: #222;
		font-family: Montserrat;
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__wrapper{
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(auto-fit,300px);
		
		gap: 46px;
		&__item{
			position: relative;
			width: 300px;
			height: 240px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 60px 180px;
			&__title{
				position: absolute;
				color: #FFF;
				font-family: Montserrat;
				font-size: 22px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				padding-top: 10px;
				padding-left: 10px;
				z-index: 4;
			}
			&__btn{
				position: absolute;
				background: url("../icons/arrow.png") no-repeat 50%/cover;
				width: 39px;
				height: 21.084px;
				border: none;
				align-self: flex-end;
				margin-bottom: 20px;
				margin-left: 10px;
				z-index: 4;
			}
		}

		&__item::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(2, 7, 31, 0.30);
			z-index: 3; 
		}

		&__item:nth-child(1){background: url("../img/elevatorEquipment/Unloaders.png") no-repeat 50%/cover; }
		&__item:nth-child(2){background: url("../img/elevatorEquipment/Conveyors.png") no-repeat 50%/cover;}
		&__item:nth-child(3){background: url("../img/elevatorEquipment/Samplers.png") no-repeat 50%/cover;}
		&__item:nth-child(4){background: url("../img/elevatorEquipment/Cyclones.png") no-repeat 50%/cover;}
		&__item:nth-child(5){background: url("../img/elevatorEquipment/Norii.png") no-repeat 50%/cover;}
		&__item:nth-child(6){background: url("../img/elevatorEquipment/ProcessingOfOilseeds.png") no-repeat 50%/cover;}
		&__item:nth-child(7){background: url("../img/elevatorEquipment/Valves.png") no-repeat 50%/cover;}
		&__item:nth-child(8){background: url("../img/elevatorEquipment/RackAndPinionValves.png") no-repeat 50%/cover;}
		&__item:nth-child(9){background: url("../img/elevatorEquipment/DumpTruck.png") no-repeat 50%/cover;}
		&__item:nth-child(10){background: url("../img/elevatorEquipment/sluiceGate.png") no-repeat 50%/cover;}
		&__item:nth-child(11){background: url("../img/elevatorEquipment/shutterFire-blocking.png") no-repeat 50%/cover;}
		&__item:nth-child(12){background: url("../img/elevatorEquipment/loadingDevice.png") no-repeat 50%/cover;}
		

	}
}