.footer{
	&__first{
		height: 550px;
		background: rgba(232, 222, 186, 0.28);
		&__navWrapper{
			padding-top: 70px;
			display: grid;
			grid-template-columns: 180px 220px repeat(auto-fit, 395px);
			gap: 50px;
			&__item{
				&__wrapperText{
					list-style-type: none;
					&__text{
							line-height: 35px;
						a{
							color: #222;
							font-family: Montserrat;
							font-size: 16px;
							font-style: normal;
							font-weight: 200;
						
						}
						a:hover{
							color: #69A54D;
						}
					}
				}

			}
		}
		&__divider{
			margin-top: 40px;
			height: 1px;
			background: #E4E4E4;
			width:100%;
		}

		&__infWrapper{
			margin-top: 40px;
			display: grid;
			grid-template-columns: 360px 307px repeat(auto-fit,400px);
			column-gap: 135px;
			&__item{
				&__descr{
					margin-top: 5px;
					color: #222;
					font-family: Montserrat;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px; /* 150% */
				}
				&__icon{
					height: 31px;
					width: 31px;
				}

			}
		}
	}

	&__second{
		
		&__wrapper{
		display: grid;
		grid-template-columns: repeat(auto-fit,420px);
		column-gap:40px;

			&__item{
				display: flex;
				height: 90px;
				margin: 0 auto;
				align-items: center;
				
				a{
					color: #222;
					font-family: Montserrat;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 30px; /* 187.5% */
				}
				a:hover{
					color: #69A54D;
				}
				
			}
		}

	}
}